.container {
    background-color: rgb(223, 219, 219);
    font-family: 'Lato', sans-serif;
    color: rgb(11, 11, 10);
    max-width: 1000px;
    background-attachment: fixed;
    text-align: center;
    margin: auto;
    padding: 20px;
}